@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import './breakpoints.scss';
@import './variebles.scss';

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Outfit', sans-serif;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 5px;
	color: $body-color;
	background-color: $background-color;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

section {
	margin-top: 150px;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

:root {
	--primary-color: #fff;
}

.container {
	width: 100%;
}

.sectionTitle {
	margin-bottom: 55px;
}

input {
	background-color: $input-background-color;
	color: $inupt-color;
	height: 60px;
	padding-left: 24px;
	width: 100%;
	font-size: 15px;
	border-radius: 10px;
	border: none;
	outline: none;

	&:focus {
		outline-style: solid;
		outline-width: 1px;
		outline-color: $outline-color;
	}
}

textarea {
	background-color: $input-background-color;
	resize: none;
	width: 100%;
	height: 200px;
	padding-left: 24px;
	font-size: 15px;
	border-radius: 10px;
	border: none;
	outline: none;

	&:focus {
		outline-style: solid;
		outline-width: 1px;
		outline-color: $outline-color;
	}
}

.titleInformation {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	@media (max-width: 767px) {
		& {
			margin: 55px 0;
		}
	}
}

@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
}
