$background-color: #e6e7e8;
$body-color: #6f6e6e;

$input-background-color: #f1f6fb;
$inupt-color: #878e99;
$outline-color: #bbc9dd;

$education-name-color: #666666;
$education-speciality-color: #a7a7a7;
$employment-color: #018c0f;
$employment-background-color: #d7ffe0;

$card-background-color: #e1e2e3;

$stack-color: #42446e;

$black: #000;
