.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 20px;

	ul {
		display: flex;
		align-items: center;

		li {
			font-weight: 500;
			font-size: 20px;
			line-height: 26px;
			margin: 0 20px;
			cursor: pointer;
			transition: all 0.3s;

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}

			&:hover {
				color: #000;
			}

			.icon {
				display: flex;
				align-items: center;
			}
		}
	}
}
