.stack {
	margin: 150px 0;
	text-align: center;

	.icons {
		margin-top: 50px;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(100px, 145px));
		row-gap: 40px;
		column-gap: 30px;
		justify-content: center;

		svg {
			margin: auto;
		}
	}
}
